@model IEnumerable<Dazgveva.Reportebi.Models.Kontrakti>
@{
    ViewBag.Title = "ძებნა";
    Func<int, string> statusisFeri = s =>
    {
        if (s == -25)
        {
            return "#F90";
        }
        else if (s == 0)
        {
            return "#CCC";
        }
        else if (s < 0)
        {
            return "#FF5B47";
        }
        else
        {
            return "#7AC946";
        }
    }
    ;
}


<p>შეიტანე ფიდი, პიდი, Unnom-ი, დაბადების თარიღი , სახელი  გვარი ან ნებისმიერი კომბინაცია</p>
<form action="@Url.Action("Dzebna")" method="GET">
    <input type="text" name="q" value="@ViewBag.query"/>
    <input type="submit" value="ძებნა"/>
</form>

<br/>

@if (ViewBag.carieliq == true)
{

}
else if (ViewBag.kontraqtebiarmoidzebna == true)
{
    <h3>თქვენს მიერ მოთხოვნილი ინფორმაცია არ მოიძებნა დაზღვევებში</h3>
}
else
{
    <table width="100%">
    <thead>
        <tr>
            <th width="10%">
            </th>
            <th width="30%">
                პიროვნების შესახებ ინფორმაცია
            </th>
            <th width="15%">
                სტატუსი
            </th>
            <th width="45%">
                სადაზღვეო ინფორმაცია
            </th>
        </tr>
    </thead>
        <tbody>
            
            

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <button class="Periodebi ButtonLink " data-id="@item.ID">პერიოდები</button>
                        <br/>
                        <button class="Gadarickhvebi ButtonLink " data-id="@item.ID">გადარიცხვები</button>
                        <br />
                        @if (!string.IsNullOrWhiteSpace(item.FID))
                        {
                            <button class="FamiliDatas ButtonLink " data-id="@item.FID">ისტორია</button>
                            <br />
                            <a class="ButtonLink" href="@Url.Content("~/Home/Amonaceri?pid=" + @item.FID)" target="blank"><button>ამონაწერი</button></a>
                            <br />
                            <a class="DeklaraciebisIstoria ButtonLink" target="blank" data-id="@item.FID"><button>დეკლარაციები</button></a>
                            <br />
                
                        }
                        @if (!string.IsNullOrWhiteSpace(item.PID))
                        {
                            <button class="Reestri ButtonLink" data-id="@item.PID">რეესტრი</button>
                            <br />
                            <button class="statist ButtonLink" data-id="@item.PID">სტატუსების ისტ.</button>
                            <br />
                            <button class="koreqtireba" class="koreqtireba ButtonLink" data-id="@item.ID ">კორექტირება</button>                       
                        }
                        @if (!string.IsNullOrEmpty(item.POLISIS_NOMERI)){
                            <button class="PolisisChabarebisIstoria ButtonLink" data-id="@item.POLISIS_NOMERI">პოლ. ჩაბ. ისტ.</button>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Base_Description)
                        <br />
                        Unnom: @Html.DisplayFor(modelItem => item.Unnom)
                        <br />
                        @Html.DisplayFor(modelItem => item.FIRST_NAME)
                        @Html.DisplayFor(modelItem => item.LAST_NAME)                    
                        <br />
                    
                        @if (!string.IsNullOrWhiteSpace(item.FID))
                        {
                            <span>Fid: @Html.ActionLink(item.FID, "Dzebna", new { q = item.FID })</span>
                            <br />
                        }

                        @if (!string.IsNullOrWhiteSpace(item.PID))
                        {
                            <span>Pid: @Html.ActionLink(item.PID, "Dzebna", new { q = item.PID })</span>
                            <br/>
                        }

                        @Html.DisplayFor(modelItem => item.BIRTH_DATE)
                        @if (item.BIRTH_DATE.HasValue)
                        {
                            <b>@helpers.weli(item.BIRTH_DATE.Value)</b>
                        }
                        <br/>
                        @Html.DisplayFor(modelItem => item.RAI)
                        <br/>
                        @Html.DisplayFor(modelItem => item.CITY)
                        <br />
                        @Html.DisplayFor(modelItem => item.ADDRESS_FULL)

                        @if(item.ADDRESS_FULL != item.aADDRESS_FULL)
                        {
                            <b>
                                <br/>
                                <br/>
                                @Html.DisplayFor(modelItem => item.aRAI)
                                <br/>
                                @Html.DisplayFor(modelItem => item.aCITY)
                                <br />
                                @Html.DisplayFor(modelItem => item.aADDRESS_FULL)
                                <hr>
                                განახლებულია: @Html.DisplayFor(modelItem => item.GanakhlebisTarigi)
                            </b>
                        }

                    </td>
                    <td style="text-align: center">
                        <span style="font-size: 50px; color: @(statusisFeri(item.STATE.Value))">@Html.DisplayFor(modelItem => item.STATE)</span>
                        <br />
                        @item.Ganmarteba

                        <br />
                        <br />
                        @if (item.GAUKMEBULI == null)
                        {
                            <input class="gaukmeba" type="button" data-id="@Html.DisplayFor(modelItem => item.ID)" value="x" />
                        }
                        else
                        {
                            <p align="center">გაუქმებულია @item.VIN_GAAUQMA-ს მიერ</p>
                        }
                    </td>
                    <td>
                        <table>
                            <tr>
                                <th>
                                    დამატების
                                </th>
                                <th>
                                    დაზღვევის
                                </th>
                                <th>
                                    გაგრძელების
                                </th>
                                <th>
                                    დასრულების
                                </th>
                                <th>
                                    გაჩერების
                                </th>
                                <th>
                                    კომპანია
                                </th>
                                <th>
                                    პოლისი
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ADD_DATE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dagv_tar)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CONTINUE_DATE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.End_Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.STOP_DATE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Company)
                                </td>
                                <td>
                                    @if (!string.IsNullOrWhiteSpace(item.POLISIS_NOMERI))
                                    {
                                        @Html.DisplayFor(modelItem => item.POLISIS_NOMERI)
                                    }
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
</table>
}

@if (ViewBag.query != null)
{
    <br/>
    @Html.ActionLink("Source Data", "SourceData", new { q = ViewBag.query });
    @Html.ActionLink("განცხადებები", "Ganckhadebebi", new { q = ViewBag.query });
    if (ViewBag.carieliq == true)
    {
        @Html.Action("PrvelckaroebisMocvdisTarigebi")
    }
}

<div id="NoteDialog" title="" class="Hidden"></div>
<div id="GaukmebaDialog" title="" class="Hidden">
    <form action="@Url.Action("Gaukmeba")" method="post" id="GaukmebisForma">
        <table align="center" class="GaukmebaDialog" border="0" style="border: none; margin-top: 20px">
            <input type="hidden" id="kontraktisNomeri" name="kontraktisNomeri"/>
            <tr>
                <td align="right">წერილის ნომერი</td>
                <td><input name="werilisNomeri" type="text" /></td>
            </tr>
            <tr>
                <td align="right">პაროლი</td>
                <td><input name="paroli" type="password" /></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><input type="submit" value="პოლისის გაუქმება" /></td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">
$(function () {
    $("#NoteDialog").dialog({
        autoOpen: false, width: 800, height: 630, modal: false,
        title: 'test',
        buttons: {
            "Close": function () { $(this).dialog("close"); }
        }
    });

    $("#GaukmebaDialog").dialog({
        autoOpen: false, width: 400, height: 220, modal: false
    });

    $(".gaukmeba").click(function () {
        var nomeri = $(this).attr('data-id');
        $("#GaukmebisForma #kontraktisNomeri").val(nomeri);
        $("#GaukmebaDialog").dialog("open");
        $("#GaukmebaDialog").dialog("option", "title", "კონტრაქტის გაუქმება: " + nomeri);
    });

    $(".Periodebi").click(function () {
        var id = $(this).attr("data-id");
        $("#NoteDialog").html("")
            .dialog("option", "title", "პერიოდები")
            .load("./Periodebi/" + id, function () { $("#NoteDialog").dialog("open"); });
    });
    $(".Gadarickhvebi").click(function () {
        var id = $(this).attr("data-id");
        $("#NoteDialog").html("")
            .dialog("option", "title", "გადარიცხვები")
            .load("./Gadarickhvebi/" + id, function () { $("#NoteDialog").dialog("open"); });
    });
    $(".FamiliDatas").click(function () {
        var id = $(this).attr("data-id");
        $("#NoteDialog").html("")
            .dialog("option", "title", "ოჯახის ისტორია")
            .load("./FamiliDatas/" + id, function () { $("#NoteDialog").dialog("open"); });
    });
    $(".DeklaraciebisIstoria").click(function () {
        var id = $(this).attr("data-id");
        $("#NoteDialog").html("")
            .dialog("option", "title", "დეკლარაციების ისტორია")
            .load("./DeklaraciebisIstoria/" + id, function () { $("#NoteDialog").dialog("open"); });
    });
    $(".Reestri").click(function () {
        var id = $(this).attr("data-id");
        $("#NoteDialog").html("")
            .dialog("option", "title", "რეესტრი")
            .load("./Reestri?pid=" + id, function () { $("#NoteDialog").dialog("open"); });
    });
    $(".PolisisChabarebisIstoria").click(function () {
        var id = $(this).attr("data-id");
        $("#NoteDialog").html("")
            .dialog("option", "title", "პოლისის ჩაბარების ისტორია")
            .load("./PolisisChabarebisIstoria?polisisNomeri=" + id, function () { $("#NoteDialog").dialog("open"); });
    });
    $(".statist").click(function () {
        var id = $(this).attr("data-id");
        $("#NoteDialog").html("")
            .load("./PirovnebisPeriodebi?pid=" + id, function () { $("#NoteDialog").dialog("open"); });
    });
    
    //$(".koreqtireba").click(function () {
    //    var id = $(this).attr("data-id");
    //    alert('alert')
    //    $("#NoteDialog").html("").dialog("option", "title", "კოტრქტირება")
    //        .load("./Koreqtireba?ID=" + id, function () { $("#NoteDialog").dialog("open"); });
    //});




    $(".koreqtireba").click(function () {
        var id = $(this).attr("data-id");
        $.get("./Koreqtireba?ID=" + id, function (data) {
            $("#NoteDialog").html(data).dialog("open");
 });
    //        //$("#NoteDialog").html("")
    //   
    //    $("#NoteDialog").html("")
    //       // .text("adsasdasdasd").dialog("open");
    //    .load("./Koreqtireba?ID=" + id, function (data) {
    //        var html = $("#NoteDialog").text()
    //             $("#NoteDialog").dialog("open");
    //    });
   });
});
</script>
