@using System.Globalization
@using Dazgveva.Reportebi.Controllers
@model IEnumerable<Dazgveva.Reportebi.Models.Kontrakti>
@{
    ViewBag.Title = "ძებნა";
    Func<int, string> statusisFeri = s =>
    {
        if (s == -25)
        {
            return "#F90";
        }
        else if (s == 0)
        {
            return "#CCC";
        }
        else if (s < 0)
        {
            return "#FF5B47";
        }
        else
        {
            return "#7AC946";
        }
    }
    ;
}


<p>შეიტანე ფიდი, პიდი, Unnom-ი, დაბადების თარიღი , სახელი  გვარი ან ნებისმიერი კომბინაცია</p>
<form action="@Url.Action("Dzebna")" method="GET">
    <input type="text" name="q" value="@ViewBag.query"/>
    <input type="submit" value="ძებნა"/>
</form>

<br/>

@if (ViewBag.carieliq == true)
{
    foreach (IGrouping<string, Links> g in ViewBag.Links)
    {
        <h1>@g.Key</h1>
    
        <table>
            <thead>
                <tr>
                    <th>
                        შინაარსი
                    </th>
                    <th>
                        შექმნის თარიღი
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Links e in g)
                {
                    <tr>
                        <td width="400">
                            @Html.ActionLink((string) @e.Shinaarsi, "Gadmowera", new {hash = e.FailisHash})
                        </td>
                        <td width="200">
                            @(((DateTime)e.ShekmnisTarigi).ToString(new CultureInfo("ka-GE")).Replace(".", "/"))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

}
else if (ViewBag.kontraqtebiarmoidzebna == true)
{
    <h3>თქვენს მიერ მოთხოვნილი ინფორმაცია არ მოიძებნა დაზღვევებში</h3>
}
else
{
    <table width="100%">
    <thead>
        <tr>
            <th width="10%">
            </th>
            <th width="30%">
                პიროვნების შესახებ ინფორმაცია
            </th>
            <th width="15%">
                სტატუსი
            </th>
            <th width="45%">
                სადაზღვეო ინფორმაცია
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <button class="Periodebi ButtonLink " data-id="@item.ID">პერიოდები</button>
                    <br/>
                    <button class="Gadarickhvebi ButtonLink " data-id="@item.ID">გადარიცხვები</button>
                    <br />
                    @if (!string.IsNullOrEmpty(item.POLISIS_NOMERI))
                    {
                        <button class="PolisisChabarebisIstoria ButtonLink" data-id="@item.POLISIS_NOMERI">პოლ. ჩაბ. ისტ.</button>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Base_Description)
                <br />
                Unnom: @Html.DisplayFor(modelItem => item.Unnom)
                <br />
                @Html.DisplayFor(modelItem => item.FIRST_NAME)
                @Html.DisplayFor(modelItem => item.LAST_NAME)                    
                <br />
                    
                @if (!string.IsNullOrWhiteSpace(item.FID))
                {
                    <span>Fid: @Html.ActionLink(item.FID, "Dzebna", new { q = item.FID })</span>
                    <br />
                }

                @if (!string.IsNullOrWhiteSpace(item.PID))
                {
                    <span>Pid: @Html.ActionLink(item.PID, "Dzebna", new { q = item.PID })</span>
                    <br/>
                }

                @Html.DisplayFor(modelItem => item.BIRTH_DATE)
                @if (item.BIRTH_DATE.HasValue)
                {
                    <b>@helpers.weli(item.BIRTH_DATE.Value)</b>
                }
                <br/>
                @Html.DisplayFor(modelItem => item.RAI)
                <br/>
                @Html.DisplayFor(modelItem => item.CITY)
                <br />
                @Html.DisplayFor(modelItem => item.ADDRESS_FULL)

                @if (item.ADDRESS_FULL != item.aADDRESS_FULL)
                {
                    <b>
                        <br/>
                        <br/>
                        @Html.DisplayFor(modelItem => item.aRAI)
                        <br/>
                        @Html.DisplayFor(modelItem => item.aCITY)
                        <br />
                        @Html.DisplayFor(modelItem => item.aADDRESS_FULL)
                    </b>
                }

            </td>
            <td style="text-align: center">
                <span style="font-size: 50px; color: @(statusisFeri(item.STATE.Value))">@Html.DisplayFor(modelItem => item.STATE)</span>
                <br />
                @item.Ganmarteba
                </td>
                <td>
                    <table>
                        <tr>
                            <th>
                                დამატების
                            </th>
                            <th>
                                დაზღვევის
                            </th>
                            <th>
                                გაგრძელების
                            </th>
                            <th>
                                დასრულების
                            </th>
                            <th>
                                გაჩერების
                            </th>
                            <th>
                                კომპანია
                            </th>
                            <th>
                                პოლისი
                            </th>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ADD_DATE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dagv_tar)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CONTINUE_DATE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.End_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.STOP_DATE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Company)
                            </td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(item.POLISIS_NOMERI))
                                {
                                    @Html.DisplayFor(modelItem => item.POLISIS_NOMERI)
                                }
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
}

<div id="NoteDialog" title="" class="Hidden"></div>

<script type="text/javascript">
$(function () {
    $("#NoteDialog").dialog({
        autoOpen: false, width: 800, height: 630, modal: false,
        title: 'test',
        buttons: {
            "Close": function () { $(this).dialog("close"); }
        }
    });

    $(".Periodebi").click(function () {
        var id = $(this).attr("data-id");
        $("#NoteDialog").html("")
            .dialog("option", "title", "პერიოდები")
            .load("./Periodebi/" + id, function () { $("#NoteDialog").dialog("open"); });
    });
    $(".Gadarickhvebi").click(function () {
        var id = $(this).attr("data-id");
        $("#NoteDialog").html("")
            .dialog("option", "title", "გადარიცხვები")
            .load("./Gadarickhvebi/" + id, function () { $("#NoteDialog").dialog("open"); });
    });
    $(".PolisisChabarebisIstoria").click(function () {
        var id = $(this).attr("data-id");
        $("#NoteDialog").html("")
            .dialog("option", "title", "პოლისის ჩაბარების ისტორია")
            .load("./PolisisChabarebisIstoria?polisisNomeri=" + id, function () { $("#NoteDialog").dialog("open"); });
    });

});
</script>
