@model IEnumerable<Dazgveva.Reportebi.Models.KontraktisPeriodi>

<p>
</p>
<table>
    <tr>
        <th>
            Periodi
        </th>
        <th>
            Dasabechdi
        </th>
        <th>
            State
        </th>
        <th>
            CONTINUE_DATE
        </th>
        <th>
            Company
        </th>
        <th>
            STOP_DATE
        </th>
        <th>
            ADD_DATE
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Periodi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dasabechdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTINUE_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STOP_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADD_DATE)
        </td>
        <td>
        </td>
    </tr>
}

</table>
