@model IEnumerable<Dazgveva.Reportebi.Models.SourceData>

<table>
    <tr>
        <th>
        </th>
        <th>
            Pirvelckaro
        </th>
        <th>
            Base_Type
        </th>
        <th>
            Periodi
        </th>
        <th>
            FID
        </th>
        <th>
            PID
        </th>
        <th>
            Unnom
        </th>
        <th>
            First_Name
        </th>
        <th>
            Last_Name
        </th>
        <th>
            Birth_Date
        </th>
        <th>
            Sex
        </th>
        <th>
            Region_Name
        </th>
        <th>
            Rai_Name
        </th>
        <th>
            City
        </th>
        <th>
            Village
        </th>
        <th>
            Street
        </th>
        <th>
            Full_Address
        </th>
        <th>
            J_ID
        </th>
        <th>
            inv_vada
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <button class="Gancxadebebi ButtonLink" data-id="@item.PID">განცხადებები</button>
        </td>
        <td>
            @item.Pirvelckaro
        </td>
        <td>
            @item.Base_Type
        </td>
        <td>
            @string.Format("{0:dd/MM/yyyy}", item.Periodi)
        </td>
        <td>
            @item.FID
        </td>
        <td>
            @item.PID
        </td>
        <td>
            @item.Unnom
        </td>
        <td>
            @item.FIRST_NAME
        </td>
        <td>
            @item.LAST_NAME
        </td>
        <td>
            @String.Format("{0:g}", item.BIRTH_DATE)
        </td>
        <td>
            @item.Sex
        </td>
        <td>
            @item.Region_Name
        </td>
        <td>
            @item.Rai_Name
        </td>
        <td>
            @item.City
        </td>
        <td>
            @item.Village
        </td>
        <td>
            @item.Street
        </td>
        <td>
            @item.Full_Address
        </td>
        <td>
            @item.J_ID
        </td>
        <td>
            @item.inv_vada
        </td>
    </tr>
}

</table>

<div id="NoteDialog" title="" class="Hidden"></div>

<script type="text/javascript">
    $(function() {
        $("#NoteDialog").dialog({
            autoOpen: false,
            width: 800,
            height: 630,
            modal: false,
            title: 'test',
            buttons: {
                "Close": function() { $(this).dialog("close"); }
            }
        });

        $(".Gancxadebebi").click(function () {
            var id = $(this).attr("data-id");
            $("#NoteDialog").html("")
                .load("./Gancxadebebi?q=" + id, function() { $("#NoteDialog").dialog("open"); });
        });
    });
</script>